
<div class="container">
  <form class="" action="/game_items" method="post">
    <h1><font color="white"> Do you have another game to add? </font></h1>

    <b> </br>
    
    <h2><font color="white"> Yay, the gaming Lords are pleased!  Add it now: </font></h2>


    <b></br>
    <font color="white"><h4>FYI: You only have to fill out the title. We're flexible here at Gameventory! </h4></font>
    
    <b></br>
    
    <!-- title -->
    
    <div class="form-group">
      <font color="white"><strong><label for="title">Title: </label></strong></font>
    <input type="text" name="title" class="form-control" required>
    </div>



   <!-- image URL  -->
   <div class="form-group">
    <font color="white"><b><label for="url">Image URL:</label></b></font>
    <input type="text" name="url" class="form-control">
   </div>



   <!-- genre  -->
   <div class="form-group">
     <font color="white"><b><label for="genre">Genre</label></b></font>
     <input type="text" name="genre" class="form-control">
   </div>



   <!-- rating -->
    <div class="form-group">
      <font color="white"><b><label for="rating">Rating</label></b></font>
      <input type="text" name="rating" class="form-control">
    </div>
    
    <b></br>

    
      <input type="submit" name="" value="Create Game">
  </form>
</div>
