
<p><font color="white"><%= @game_item.title %></p></font color>
<p><font color="white"><%= @game_item.genre %></p></font color>
<p><font color="white"><%= @game_item.rating %></p></font color>

 <img src="<%=@game_item.url%>" height="400" width="400">
