<br><br><br>

<b><h3><font color="white"> Let's continue the Gameventory adventure!</h3><b>

<br><br><br>

  <form  class="" action="/login" method="post">
    <b><label for="email">Email: </label></b>
    <input type="text" name="email" value="">
    <b> <label for="password">Password: </label></b>
    <input type="text" name="password" value="">
    <br><br><br>
    <input type="submit" value="Login">
  </form>
  <br>

  <a href="/">Back</a>
