<!DOCTYPE html>
<html>
<body>
<div class="container">
  <font color="white"><h1>Welcome to Gameventory!<img src="http://vignette4.wikia.nocookie.net/pokemon/images/5/5f/025Pikachu_OS_anime_11.png/revision/latest?cb=20150717063951" height="30" width="30">

  </h1></font color> 

  <b></br>
  <b><p><font color="white">The Gameventory App allows you to keep record of all of your games, even if they are on different consoles! This is the dream app for gamers that are craving some true organization in their life. 

<br> </br>
   Are you ready to start your Gameventory Adventure? Sign up below! </p></b></font color>

   
<b> </br>
<b> </br>
<b> </br>


  <div class="home-buttons-container">
    <a href="/signup"><button type="submit" class="btn btn-primary btn-home">Sign Up</button></a>


<b> </br>
<b> </br>
<b> </br>
<b> </br>

  <b><p><font color="white">Click the log in button below if you have already started your Gameventory adventure! </p></b></font color>

  
<b> </br>
<b> </br>
<b> </br>

  <a href="/login"><button type="submit" class="btn btn-primary btn-home">Log In</button></a>
  </div>
</div>
</body>
</html>
